*{
    box-sizing: border-box;
}

body{
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: rgb(236, 243, 247);
}

.header{
    height: 10vh;
    width: 98vw;
    background-color: rgba(145, 214, 89, 0.76);
    margin-bottom: 3vh;
    padding-right: 2vw;
    display: flex;
    justify-content: space-between ;
    text-transform: uppercase;
    font-size: 2vh;
    color: white;
    display: none;
}

.pageHeading{
    padding-left: 40vw;
}

a{
    color: white;
    text-decoration: none;
}

.item{
    width: 18vw;
    border: 2px solid;
    border-color: rgba(145, 214, 89, 0.856);
    background-color: white;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.8vh;
}

.image{
    height: 20vh;
    width: 18vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.failedAPILoad{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(247, 15, 15, 0.911);
    display: none;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid rgba(204, 202, 202, 0.438);
}

.description p{
    font-size: 1.5vh;
}

.loaderLogo{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    height: 3vh;
    width: 98vw;
    margin-top: 2vh;
    background-color: rgba(145, 214, 89, 0.76);
    display: none;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: rgba(145, 214, 89, 0.76);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  

@media screen and (max-width:1200px){
    .items{
        flex-direction: column;
        align-items: center;
    }
    .item{
        width: 80vw;
    }
    .image{
        width: 80vw;
    }
    .pageHeading{
        padding-left: 0;
    }
    .header{
        font-size: 1.2vh;
        justify-content: flex-end;
        gap: 9vw;
    }
}