*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.signupForm{
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap:3vh;
    align-items: center;
}

.formSuccess{
    color: green;
    height: 70vh;
    display: none;
    justify-content: center;
}

a{
    color: darkgreen;
}

.fields{
    display: flex;
    padding-left: 5vw;
    gap: 3vw;
}

.labels{
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.labels label{
    height: 6vh;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.inputField{
    height: 6vh;
}

.inputField h4{
    color: red;
}

.inputs input{
    width: 15vw;
    height: 3vh;
    background-color: rgba(238, 236, 236, 0.76);
    font-size: 1.8vh;
    font-weight: 100;
    border: none;
    border-radius: 5px;
}

.inputs input:focus {
    background-color: white;
    outline: none;
    border: 2px solid lightgreen;
}

h5{
    color: red;
}

.blueText{
    color: blue;
}

.subHeading{
    height: 10vh;
    padding-top: 5vh;
    text-align: center;
    color:rgb(109, 161, 67);
}

.errorMessageBox{
    height: 5vh;
    text-align: center;
    padding-top: 1vh;
}

.success{
    color: green;
    text-align: center;
}

.errorMessage{
    /* display: none; */
    color: red;
    display: flex;
    justify-content: center;
}

label{
    font-size: 2vh;
}

.toc{
    padding-top: 3vh;
    display: flex;
    align-items: center;
    padding-bottom: 4vh;
}

.toc input{
    height: 2vh;
    width: 3vw;
}

button{
    height: 4vh;
    width: 15vw;
    border-radius: 10px;
    border: none;
    background: linear-gradient(45deg, rgba(162, 236, 102, 0.877), 60% ,rgb(245, 243, 107));
    font-size: 1.8vh;
    font-weight: 100;
    color: darkgreen;
}

button:hover{
    background: darkgreen;
    color: white;
}

.header{
    height: 10vh;
    width: 100vw;
    background-color: rgba(145, 214, 89, 0.76);
    display: flex;
    justify-content: center ;
    align-items: center;
    text-transform: uppercase;
    font-size: 2vh;
    color: white;
}

.footer{
    height: 5vh;
    width: 100vw;
    background-color: rgba(145, 214, 89, 0.76);
}

@media screen and (max-width: 1200px){
    .inputs input{
        width: 50vw;
    }

    button{
        width: 40vw;
    }

    .fields{
        width: 100vw;
    }

    .toc{
        gap: 2vw;
    }

    .inputField{
        width: 55vw;
    }

    .inputs h4{
        font-size: 10px;
    }

    .inputs h5{
        font-size: 7px;
    }

}